@tailwind base;
@tailwind components;
@tailwind utilities; 
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.buttons-container button{
  padding: 0px;
  border:1px solid white;
  height: 50px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* html{
  scrollbar-width: none;;
} */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #be185d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be185d; 
}
